
app = "su-pisteet"
primary_region = "ams"

[build]

[env]
  PORT = "3000"
  DATABASE_PATH = "/data/skating-results.db"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256


[[mounts]]
  source = "skating_data"
  destination = "/data"
  initial_size="1GB"
  auto_extend_size_threshold = 80
  auto_extend_size_increment = "5GB"
  auto_extend_size_limit = "200GB"      